h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.hero {
  background: url("../images/backgrounds/h_img.jpg") center no-repeat;
  height: 100vh;
}

.services {
  background: url("../images/backgrounds/s_image.jpg") center no-repeat;
  height: 488px;
}

.contact {
  background: url("../images/backgrounds/c_image.jpg") center no-repeat;
}